/* pie chart */
@font-face {
  font-family: "Poppins Medium";
  src: url(fonts/Poppins-Medium.ttf);
}

.chart-legend {
  background-color: #F8E9E5;
  -fx-background-color: #F8E9E5;

}

.chart-legend-item {
  -fx-text-fill: #505A74; 

  font-size: 14px;
  -fx-font-size: 14px;

  font-family: "Poppins Medium";
  -fx-font-family: "Poppins Medium";
}

.chart-title {
  -fx-text-fill: #253657;

  font-size: 30px;
  -fx-font-size: 30px;
}

.chart-pie-label {
  fill: #253657;
  -fx-fill: #253657;
}

/* changing chart pie slice colors */
.chart-pie.data0 {
  -fx-pie-color: #E76D8A;
}

.chart-pie.data1 {
  -fx-pie-color: #6F4367;
}

.chart-pie.data2 {
  -fx-pie-color: #FFD6B7;
}

.chart-pie.data3 {
  -fx-pie-color: #F5A1A1;
}

.chart-pie.data4 {
  -fx-pie-color: #A69ACA;
}

/* bar chart */
.chart-content {
  stroke-width: 5px;
  -fx-stroke-width: 5px;
  
  -fx-effect:null;
}

.chart-plot-background {
  background-color: #F8E9E5; 
  -fx-background-color: #F8E9E5; 
}

.default-color0.chart-bar {
  stroke: #E76D8A;
  -fx-stroke: #E76D8A;
}

.default-color1.chart-bar {
  stroke: #6F4367;
  -fx-stroke: #6F4367;
}

.default-color0.chart-bar {
  -fx-bar-fill: #E76D8A;
}

.default-color1.chart-bar  {
  -fx-bar-fill: #6F4367;
}