.table-view {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  -fx-text-fill: #f8e9e5;

  -fx-background-radius: 5px;
  
  border-radius: 5px;
  -fx-border-radius: 5px;
  
  background-color: transparent;
  -fx-background-color: transparent;
}

.table-view .placeholder .label {
    -fx-text-fill: #f8e9e5;   
}

.table-view .viewport {
  background-color: transparent;
  -fx-background-color: transparent;
}

.table-row-cell {
  background-color: transparent;
  -fx-background-color: transparent;

  border-color: transparent;
  -fx-border-color: transparent;
}

.table-view .column-header {
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;

  background-color: #F8E9E5;
  -fx-background-color: #F8E9E5;

  border-color: transparent;
  -fx-border-color: transparent;

  -fx-background-radius: 5px;

  border-radius: 5px;
  -fx-border-radius: 5px;

  -fx-background-insets: 2 2;
  -fx-border-insets: 2 2;
}

.table-view .column-header-background {
  background-color: transparent;
  -fx-background-color: transparent;
}

.table-view .column-header .label {
  font-size: 12px;
  -fx-font-size: 12px;

  -fx-text-fill: #693C5B;

  padding: 10 10;
  -fx-padding: 10 10;
}

.table-cell {
  padding: 10 10;
  -fx-padding: 10 10;

  -fx-background-insets: 2 2;
  -fx-border-insets: 2 2;
}

.table-cell:filled {
  background-color: #693C5B;
  -fx-background-color: #693C5B;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
  
  border-width: 1px;
  -fx-border-width: 1px;
  
  -fx-background-radius: 5px;

  border-radius: 5px;
  -fx-border-radius: 5px;
}

.table-row-cell, .table-cell {
  -fx-table-cell-border-color: transparent;
}

.table-cell .text {
  fill: #f8e9e5;
  -fx-fill: #f8e9e5;
}

.table-row-cell:selected,
.table-cell:selected {
  background-color: transparent;
  -fx-background-color: transparent;
}

/* scroll bar */
.scroll-bar {
  background-color: transparent;
  -fx-background-color: transparent;
}

.scroll-bar:vertical > .track-background {
  background-color: transparent;
  -fx-background-color: transparent;
}

.scroll-bar > .thumb {
  background-color: #f8e9e5; 
  -fx-background-color: #f8e9e5; 
  
  -fx-background-radius: 3px;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5; 
  
  -fx-background-radius: 3px;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
  background-color: transparent;
  -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
  background-color: #693C5B;
  -fx-background-color: #693C5B;
  
  padding: 1em;
  -fx-padding: 1em;
}