/*
 *  COLORS:
 *  off-white: #f8e9e5
 *  light pink: #e76d8a
 *  soft red: F5A1A1
 *  pale orange: FFD6B7
 *  dark blue: #253657
 */

@font-face {
  font-family: "Poppins Regular";
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Medium";
  src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(fonts/Poppins-Black.ttf);
}

#titleLabel {
  font-family: "Poppins Bold", sans-serif;
  -fx-font-family: "Poppins Bold", sans-serif;

  font-optical-sizing: auto;
  -fx-font-optical-sizing: auto;

  font-size: 45px;
  -fx-font-size: 45px;
    
  font-style: normal;
  -fx-font-style: normal;
}

.poppins-regular {
  font-family: "Poppins Regular", sans-serif;
  -fx-font-family: "Poppins Regular", sans-serif;
    
  font-weight: 400;
  -fx-font-weight: 400;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-medium {
  font-family: "Poppins Medium", sans-serif;
  -fx-font-family: "Poppins Medium", sans-serif;

  font-weight: 500;
  -fx-font-weight: 500;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins SemiBold", sans-serif;
  -fx-font-family: "Poppins SemiBold", sans-serif;

  font-weight: 600;
  -fx-font-weight: 600;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-bold {
  font-family: "Poppins Bold", sans-serif;
  -fx-font-family: "Poppins Bold", sans-serif;

  font-weight: 700;
  -fx-font-weight: 700;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-black {
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;
}

.text-center{
  -fx-alignment: center;
}

.text-background {
  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;
}

.button-pink {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.button-pink:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-white {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;
  
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-white:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.button-login {
  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-login:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-accountcreate_active {
  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-accountcreate_default {
  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-accountcreate_default:hover {
  -fx-text-fill: #e76d8a;

  background-color: rgba(231, 109, 138, 0.5);
  -fx-background-color: rgba(231, 109, 138, 0.5);

  border-radius: 10px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-createaccount {
  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-createaccount:hover {
  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.text-field {
  -fx-text-fill: #253657;

  opacity: 0.4;
  -fx-opacity: 0.4;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid solid solid none;
  -fx-border-style: solid solid solid none;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;

  border-radius: 0 10px 10px 0;
  -fx-border-radius: 0 10px 10px 0;

  -fx-background-radius: 10px;
}

.text-field:focused {
  opacity: 1.0;
  -fx-opacity: 1.0;
}

.field-icon-container {
  opacity: 0.4;
  -fx-opacity: 0.4;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid none solid solid;
  -fx-border-style: solid none solid solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;

  -fx-border-radius-top-left: 20px;

  border-radius: 10px 0 0 10px;
  -fx-border-radius: 10px 0 0 10px;

  -fx-background-radius: 10px 0 0 10px;
}

.pink-text:hover {
  cursor: hand;
  -fx-cursor: hand;

  -fx-underline: true;
}