/*
 *  COLORS:
 *  off-white: #f8e9e5
 *  light pink: #e76d8a
 *  soft red: #F5A1A1
 *  pale orange: #FFD6B7
 *  dark blue: #253657
 *  purple: #693C5B
 *  very light pink: #F1B8C0
 */

@font-face {
  font-family: "Poppins Regular";
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins Medium";
  src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url(fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins Black";
  src: url(fonts/Poppins-Black.ttf);
}

#titleLabel {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  font-optical-sizing: auto;
  -fx-font-optical-sizing: auto;

  font-size: 45px;
  -fx-font-size: 45px;
    
  font-style: normal;
  -fx-font-style: normal;
}

.poppins-regular {
  font-family: "Poppins Regular", sans-serif;
  -fx-font-family: "Poppins Regular", sans-serif;
    
  font-weight: 400;
  -fx-font-weight: 400;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-medium {
  font-family: "Poppins Medium", sans-serif;
  -fx-font-family: "Poppins Medium", sans-serif;

  font-weight: 500;
  -fx-font-weight: 500;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins SemiBold", sans-serif;
  -fx-font-family: "Poppins SemiBold", sans-serif;

  font-weight: 600;
  -fx-font-weight: 600;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  font-weight: 700;
  -fx-font-weight: 700;

  font-style: normal;
  -fx-font-style: normal;
}

.poppins-black {
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;
}

.text-center {
  -fx-alignment: CENTER;
}

.text-left {
  -fx-alignment: CENTER_LEFT;
}

.text-background {
  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;
}

.button-pink {
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.button-pink:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-white {
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
  
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-white:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.button-orange {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;
  
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #F5A1A1;
  -fx-background-color: #F5A1A1;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-orange:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #F5A1A1;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #F5A1A1;
  -fx-border-color: #F5A1A1;
}

.button-purple {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;
  
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #693C5B;
  -fx-background-color: #693C5B;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-purple:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #693C5B;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #693C5B;
  -fx-border-color: #693C5B;
}

.button-inventory {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;
  
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #693C5B;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-inventory:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #f8e9e5;

  background-color: #693C5B;
  -fx-background-color: #693C5B;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.button-white-purple-border {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;
  
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #693C5B;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #693C5B;
  -fx-border-color: #693C5B;
}

.button-white-purple-border:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #f8e9e5;

  background-color: #693C5B;
  -fx-background-color: #693C5B;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-purple-white-border {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;
  
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #693C5B;
  -fx-background-color: #693C5B;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.button-purple-white-border:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #693C5B;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-login {
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;

  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.button-login:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-accountcreate_active {
  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-accountcreate_default {
  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-accountcreate_default:hover {
  -fx-text-fill: #e76d8a;

  background-color: rgba(231, 109, 138, 0.5);
  -fx-background-color: rgba(231, 109, 138, 0.5);

  border-radius: 10px;
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-createaccount {
  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.button-createaccount:hover {
  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;
}

.text-field {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  -fx-text-fill: #253657;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid solid solid none;
  -fx-border-style: solid solid solid none;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;

  border-radius: 0 10px 10px 0;
  -fx-border-radius: 0 10px 10px 0;

  -fx-background-radius: 10px;
}

.text-field:focused {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  -fx-text-fill: #253657;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid solid solid none;
  -fx-border-style: solid solid solid none;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;

  border-radius: 0 10px 10px 0;
  -fx-border-radius: 0 10px 10px 0;

  -fx-background-radius: 10px;
}

.search-field {
  -fx-text-fill: #253657;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid solid solid none;
  -fx-border-style: solid solid solid none;

  border-color: #F5A1A1;
  -fx-border-color: #F5A1A1;

  border-radius: 0 10px 10px 0;
  -fx-border-radius: 0 10px 10px 0;

  -fx-background-radius: 10px;
}

.search-field:focused {
  -fx-text-fill: #253657;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid solid solid none;
  -fx-border-style: solid solid solid none;

  border-color: #F5A1A1;
  -fx-border-color: #F5A1A1;

  border-radius: 0 10px 10px 0;
  -fx-border-radius: 0 10px 10px 0;

  -fx-background-radius: 10px;
}

.filter-order-text-field {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  -fx-text-fill: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid solid solid solid;
  -fx-border-style: solid solid solid solid;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.filter-order-text-field:focused {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  -fx-text-fill: #f8e9e5;

  border-width: 2px;
  -fx-border-width: 2px;

  border-style: solid solid solid solid;
  -fx-border-style: solid solid solid solid;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.text-field-purple {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  background-color: #693C5B;
  -fx-background-color: #693C5B;

  -fx-text-fill: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.text-field-purple:hover {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  background-color: #693C5B;
  -fx-background-color: #693C5B;

  -fx-text-fill: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.text-field-purple:focused {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  background-color: #693C5B;
  -fx-background-color: #693C5B;

  -fx-text-fill: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.field-icon-container {
  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid none solid solid;
  -fx-border-style: solid none solid solid;

  border-color: #e76d8a;
  -fx-border-color: #e76d8a;

  -fx-border-radius-top-left: 20px;

  border-radius: 10px 0 0 10px;
  -fx-border-radius: 10px 0 0 10px;

  -fx-background-radius: 10px 0 0 10px;
}

.search-icon-container {
  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid none solid solid;
  -fx-border-style: solid none solid solid;

  border-color: #F5A1A1;
  -fx-border-color: #F5A1A1;

  -fx-border-radius-top-left: 20px;

  border-radius: 10px 0 0 10px;
  -fx-border-radius: 10px 0 0 10px;

  -fx-background-radius: 10px 0 0 10px;
}

.pink-text:hover {
  cursor: hand;
  -fx-cursor: hand;

  -fx-underline: true;
}

.toggle-filter-button {
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #e76d8a;
  -fx-background-color: #e76d8a;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #f8e9e5;
  -fx-border-color: #f8e9e5;
}

.toggle-filter-button:hover {
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #F5A1A1;

  background-color: #f2e0e8;
  -fx-background-color: #f2e0e8;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.toggle-filter-button:selected{
  outline: none;
  -fx-outline: none;

  cursor: hand;
  -fx-cursor: hand;

  -fx-text-fill: #e76d8a;

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;
}

.menu-card-border-available{
  background-color: #F8E9E5;
  -fx-background-color: #F8E9E5;

  stroke: #EF8FA4;
  -fx-stroke: #EF8FA4;

  stroke-width: 1;
  -fx-stroke-width: 1;

  -fx-stroke-type: inside;
  -fx-arc-width: 20;
  -fx-arc-height: 20;
}

.menu-card-border-unavailable{
  background-color: #F8E9E5;
  -fx-background-color: #F8E9E5;

  stroke: #FCB7A4;
  -fx-stroke: #FCB7A4;

  stroke-width: 1;
  -fx-stroke-width: 1;

  -fx-stroke-type: inside;
  -fx-arc-width: 20;
  -fx-arc-height: 20;
}

.menu-card-label-available{
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #EF8FA4;
  -fx-background-color: #EF8FA4;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #EF8FA4;
  -fx-border-color: #EF8FA4;
}

.menu-card-label-unavailable{
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #FCB7A4;
  -fx-background-color: #FCB7A4;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #FCB7A4;
  -fx-border-color: #FCB7A4;
}

.menu-card-box-available{
  background-color: #F8E9E5;
  -fx-background-color: #F8E9E5;

  stroke: #e76d8a;
  -fx-stroke: #e76d8a;

  stroke-width: 3;
  -fx-stroke-width: 3;

  -fx-stroke-type: inside;
  -fx-arc-width: 20;
  -fx-arc-height: 20;
}

.menu-card-box-unavailable{
  background-color: #F8E9E5;
  -fx-background-color: #F8E9E5;

  stroke: #FCB7A4;
  -fx-stroke: #FCB7A4;

  stroke-width: 3;
  -fx-stroke-width: 3;

  -fx-stroke-type: inside;
  -fx-arc-width: 20;
  -fx-arc-height: 20;
}

.menu-card-counter-available{
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #253657;

  padding: 0 0 0 5;
  -fx-padding: 0 0 0 5;   

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #EF8FA4;
  -fx-border-color: #EF8FA4;
}

.menu-card-counter-unavailable{
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #253657;

  padding: 0 0 0 5;
  -fx-padding: 0 0 0 5;   

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #FCB7A4;
  -fx-border-color: #FCB7A4;
}

.menu-card-updown-container-available {
  padding: 0 0 0 5;
  -fx-padding: 0 0 0 5;   

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 0px 10px 10px 0px;
  -fx-border-radius: 0px 10px 10px 0px;

  -fx-background-radius: 0px 10px 10px 0px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #EF8FA4;
  -fx-border-color: #EF8FA4;
}

.menu-card-updown-container-unavailable {
  padding: 0 0 0 5;
  -fx-padding: 0 0 0 5;   

  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;

  border-radius: 0px 10px 10px 0px;
  -fx-border-radius: 0px 10px 10px 0px;

  -fx-background-radius: 0px 10px 10px 0px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #FCB7A4;
  -fx-border-color: #FCB7A4;
}

.menu-card-button-available{
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #EF8FA4;
  -fx-background-color: #EF8FA4;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #EF8FA4;
  -fx-border-color: #EF8FA4;
}

.menu-card-button-available:hover{
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;

  -fx-text-fill: #f8e9e5;

  background-color: #EF8FA4;
  -fx-background-color: #EF8FA4;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #EF8FA4;
  -fx-border-color: #EF8FA4;
}

.menu-card-button-unavailable{
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;
    
  font-weight: 900;
  -fx-font-weight: 900;
  
  font-style: normal;
  -fx-font-style: normal;

  -fx-text-fill: #f8e9e5;

  background-color: #FCB7A4;
  -fx-background-color: #FCB7A4;

  border-radius: 10px;
  -fx-border-radius: 10px;

  -fx-background-radius: 10px;

  border-width: 1px;
  -fx-border-width: 1px;

  border-style: solid;
  -fx-border-style: solid;

  border-color: #FCB7A4;
  -fx-border-color: #FCB7A4;
}

.menu-card-updown-button{
  background-color: transparent;
  -fx-background-color: transparent;

  border-color: transparent;
  -fx-border-color: transparent;

  border-width: 0;
  -fx-border-width: 0;

  border-radius: 0;
  -fx-border-radius: 0; 

  -fx-background-radius: 0; 

  font-size: 8px;
  -fx-font-size: 8px;
  
  padding: 0;
  -fx-padding: 0;
}
