.table-view {
  font-family: "Poppins", sans-serif;
  -fx-font-family: "Poppins", sans-serif;

  -fx-background-radius: 5px;
  
  border-radius: 5px;
  -fx-border-radius: 5px;
}

.table-view .column-header-background {
    background-color: transparent;
    -fx-background-color: transparent;
}

.table-view .column-header {
    
  font-family: "Poppins Black", sans-serif;
  -fx-font-family: "Poppins Black", sans-serif;

  background-color: #f5a1a1;
  -fx-background-color: #f5a1a1;

  border-color: transparent;
  -fx-border-color: transparent;

  -fx-background-radius: 5px;

  border-radius: 5px;
  -fx-border-radius: 5px;

  -fx-background-insets: 2 2;
  -fx-border-insets: 2 2;
}

.table-view .column-header .label {
  font-size: 12px;
  -fx-font-size: 12px;

  -fx-text-fill: #253657;

  padding: 10 10;
  -fx-padding: 10 10;
}

.table-view .placeholder .label {
    -fx-text-fill: #253657;   
}


.table-row-cell, .table-cell {
  -fx-table-cell-border-color: transparent;
}

.table-row-cell {
  background-color: transparent;
  -fx-background-color: transparent;

  border-color: transparent;
  -fx-border-color: transparent;
}

.table-cell {
  padding: 10 10;
  -fx-padding: 10 10;

  -fx-background-insets: 2 2;
  -fx-border-insets: 2 2;
}

.table-cell:filled {
  background-color: #FFD6B7;
  -fx-background-color: #FFD6B7;

  -fx-background-radius: 5px;

  border-radius: 5px;
  -fx-border-radius: 5px;
}

.table-cell .text {
    fill: #253657;
    -fx-fill: #253657;
}

.table-row-cell:selected,
.table-cell:selected {
  background-color: transparent;
  -fx-background-color: transparent;
}

/* scroll bar */
.scroll-bar {
  background-color: transparent;
  -fx-background-color: transparent;
}

.scroll-bar:vertical > .track-background {
  background-color: transparent;
  -fx-background-color: transparent;
}

.scroll-bar > .thumb {
  background-color: #FFD6B7; 
  -fx-background-color: #FFD6B7; 
  
  -fx-background-radius: 3px;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
  background-color: #f5a1a1;
  -fx-background-color: #f5a1a1; 
  
  -fx-background-radius: 3px;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
  background-color: transparent;
  -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;
  
  padding: 1em;
  -fx-padding: 1em;
}

/* check box */
.check-box .box {
  background-color: #f8e9e5;
  -fx-background-color: #f8e9e5;
  
  border-color: #f5a1a1;
  -fx-border-color: #f5a1a1;

  border-width: 2;
  -fx-border-width: 2;

  border-radius: 5;
  -fx-border-radius: 5;
  
  -fx-background-radius: 5;
  
  padding: 4;
  -fx-padding: 4;
}

.check-box:hover .box {
  border-color: #E76D8A;
  -fx-border-color: #E76D8A;
}

.check-box:selected .box {
  background-color: #f5a1a1;
  -fx-background-color: #f5a1a1;
}

.check-box:selected .mark {
  background-color: #f8e9e5; 
  -fx-background-color: #f8e9e5; 
}
